*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
.nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
}
.div-flex-logo{
    display: flex;
    align-items: center;
}
.logo-image{
    width: 20%;
    margin-right: 1rem;
}
.div-hamburger{
   display: none;
}
.site-link{
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}
.div-register{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4rem;
}
.main-section{
    background-image:  url("assets/main-bg.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-section-title{
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.main-section-subtitle{
    font-size: 2em;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    text-align: center;

}
.main-section-button{
    margin-top: 2rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    color: white;
    font-size: 1.8rem;
    padding:1rem;
    width: 10%;
    text-align: center;
    text-decoration: none;
}
.scroll-down{
    position:absolute;
    bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: bounce-2;
    animation-timing-function: ease;
    transform-origin: bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.scroll-down-text{
    font-size: 1em;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.scroll-down-icon{
    width: 70%;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.second-section{
    background-image:  url("assets/the-games-bg.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 12rem;
}
.second-section-content-title{
    font-size: 4em;
    font-weight: bold;
    color: white;
}
.second-section-content-subtitle{
    font-family: 'open-sans';
    font-size: 2em;
    font-weight: normal;
    color: white;
}
.img-caraousel{
    width: 80%;
    height: 70%;
    object-fit: cover;
    margin-top: 12rem;
}
.div-carousel{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    .div-register{
        display: none;
    }
    .site-link{
        display: none;
    }
    .main-section-title{
        font-size: 3.5em;
    }
    .main-section-subtitle{
        font-size: 1.5em;
    }
    .main-section-button{
        font-size: 1.2em;
        width: 15%;
    }
    .div-hamburger{
        display: block;
        margin-right: 2rem;
    }
    .hamburger-icon{
        width: 15%;
        color: white;
        float: right;
    }
    .second-section{
        flex-direction: column;
    }
    .second-section-content{
        margin-top: 2rem;
    }   
    .img-caraousel{
        width: 80%;
        margin-top: 1rem;
    }
}
    
@media only screen and (max-width: 425px){
    .main-section-title{
        font-size: 3em;
    }
    .main-section-subtitle{
        font-size: 1.5em;
    }
    .main-section-button{
        width: 20%;
    }
}