#loading-backdrop {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: block;
}

#loading-backdrop::after {
    content: url('/images/loader.gif');
    display: block;
    position: absolute;
    left: 40%;
    top: 40%;
}