.root{
    background: #9c835f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    cursor: pointer;
}
.active{
    background-color: #c4c4c4;
    width: 223px;
    height: 204px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.inActive{
    margin-bottom: 2rem;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.divPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}